.container {
  display: flex;

  margin-top: 32px;
}

.box-container {
  width: 45%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.button-container {
  width: 5%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
button {
  width: 75%;
}
